.than{
    display: flex;
}
.than .than1{
    flex: 1;
}
.than .than2{
    flex: 3;
    font-size: 50px;
    font-weight: bold;
    background-color: burlywood;
}
.than .than3{
    flex: 1;
}

.than .than2 .an{
    display: none;
}
.than .than2 label{
    font-size: 30px;
    font-weight: normal;
}
.than .than2 select{
    font-size: 20px;
    font-weight: normal;
    width: 320px;
}
.than .than2 input{
    font-size: 20px;
    font-weight: normal;
}
/*  */
.than .than2 .nut1{
    margin-left: 45%;
    background-color: greenyellow;
    color: red;
    font-size: 30px;
    width: 110px;
    border: 2px solid black;
}
