.than{
    display: flex;
}
.than .than1{
    flex: 1;
}
.than .than2{
    flex: 6;
    font-size: 50px;
    font-weight: bold;
    background-color: bisque;
}
.than .than3{
    flex: 1;
}
.than .than2 label{
    font-size: 30px;
    font-weight: bold;
}
.than .than2 input{
    font-size: 20px;
    font-weight: normal;
}
.than2 .nut{
    font-size: 25px;
    text-decoration: none;
    border: 2px solid grey;
    background-color:palegreen;
}