.than{
    /* width: 1000px; */
    display: flex;
  }
  .than .than1{
    flex: 1;
  }
  .than .than2{
    flex: 10;
    font-size: 50px;
    font-weight: bold;
    background-color: bisque;
  }
  /*  */
  .danhsachban{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }


  .than .than3{
    flex: 1;
  }
  /*  */
  .than2 .ttban{
    margin-left: 35%;
    font-size: 30px;
    font-weight: normal;
    color: red;
  }
  .than2 .ttngaygio{
    display: flex;
    font-size: 50px;
    font-weight: normal;
    margin-left: 15%;
  }
  .than2 .tthoadon1{
    color: red;
    font-size: 50px;
  }
  .than2 .tthoadon2{
    color: greenyellow;
    font-size: 30px;
  }
  /*  */
  .than2 .tt{
    display: flex;
  }
  .than2 .tt .tt1{
    flex: 3;
    font-size: 40px;
  }
  .than2 .tt .tt0{
    flex: 1;
  }
  
  .than2 .tt .tt2{
    flex: 3;
    font-size: 25px;
    font-weight: normal;
  }
  .than2 .tt .tt3{
    flex: 1;
    font-weight: normal;
    font-size: 25px;
    text-decoration: none;
  }
  /*  */
  .than2 .ttngaygio .tt{
    flex: 1;
  }
  .than2 .ttthanhtien{
    color: blue;
    font-size: 40px;
  }
  /*  */
  .than .bang{
    border: 5px solid black;
    width: 100%;
  }
  .than .bang .hang{
    background-color: cornsilk;
    display: flex;
  }
  .than .bang .hang .cot1{
    flex: 3;
    font-size: 25px;
    font-weight: normal;
  }
  .than .bang .hang .cot{
    flex: 1;
    font-size: 25px;
    font-weight: normal;
  }
  /*  */
  .than .than2 .nut{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .than .than2 .nut .nut1{
    margin: 20px;
    font-size: 30px;
    text-decoration: none;
    border: 1.5px solid black;
    background-color: rgb(207, 201, 201); 
  }
  /*  */
  .than .than2 label{
    margin-left: 35%;
    font-size: 40px;
    font-weight: normal;
  }
  .than .than2 select{
    font-size: 30px;
    font-weight: normal;
  }
  .than .than2 input{
    font-size: 30px;
    font-weight: normal;
  }
  /*  */
  .than .than2 .chon{
    background-color: thistle;
    border: 4px dashed red;
  }
  /*  */
/* .than .than2 .red{
      width: 400px;
      height: 200px;
      background-color:red;
      display: column;
}
.than .than2 .green{
    width: 400px;
    height: 200px;
    background-color:green;
    display: column;
} */

.ban{
  width:200px;
  padding:50px 0;
  text-align: center;
  margin:20px;
  box-shadow: 0 0 3px 3px rgb(133, 133, 133);
  background-color: white;
  border-radius: 3px;
}
.ban>a{
  text-decoration: none;
  font-size:65px;
}
.red{
  background-color:rgb(255, 140, 140);
}
.green{
  background-color: rgb(188, 255, 188) ;
}