.than{
    background-color:rosybrown;
    display: flex;
}
.than .than1{
    flex: 1;
}
.than .than2{
    flex: 2;
    background-color: beige;
}
.than .than3{
    flex: 1;
}
/* ------------------------------ */
.than .than2{
    font-size: 30px;
    display: flex;
    flex-direction: column;
}
.than .than2 .hang{
    display: flex;
    font-size: 40px;
    padding: 5px;
    margin: 5px;
    background-color: salmon;
}
.than .than2 .hang label{
    flex: 5;
}
.than .than2 .hang .nut{
    flex: 3;
    font-size: 30px;
    height: 30px;
}
/* --------------------------------- */
.than .than2 .nut{
    display: flex;
    justify-content: center;
}
.than .than2 .nut .nut1{
    font-size: 30px;
    text-decoration: none;
    background-color: white;
    border: 2px solid grey;
    margin: 0px 50px;
    width: 200px;
    height: 40px;
}
