.than{
    display: flex;
}
.than .than1{
    flex: 2;
    background-color: violet;
}
.than .than2{
    flex: 3;
    font-size: 40px;
    font-weight: bold;
    background-color: tomato;
}
.than .than3{
    flex: 2;
    background-color: darkcyan;
}
.than .than2 label{
    font-size: 30px;
}
.than .than2 select{
    font-size: 30px;
}
.than .than2 input{
    font-size: 25px;
    background-color: darkgrey;
}
.than .than2 .nut {
    font-size: 30px;
    background-color: greenyellow;
    text-decoration: none;
    border: 2px solid black;
}
