html{
    background-image: url(./hinh/dangky.jpg);
    width: 100%;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.than{
    display: flex;
}
.than .than1{
    flex: 1;
}
.than .than2{
    flex: 6;
}
.than .than3{
    flex: 1;
}
/*  */
.than .than2{
    display: flex;
    flex-direction: column;
}
.than .than2 .hang{
    display: flex;
    font-size: 28px;
    font-weight: bold;
    margin: 20px 100px 20px 50px;
}
.than .than2 .hang label{
    flex: 2;
}
.than .than2 .hang input{
    flex: 3;
    background-color:mediumspringgreen;
}
/*  */
.than .than2 .chon{
    display: flex;
    font-size: 28px;
    margin: 20px 100px 20px 50px;
}
.than .than2 .chon .chon1{
    flex: 2;
    font-weight: bold;
}
.than .than2 .chon .chon2{
    flex: 3;
}
/*  */
.than .than2 .dschon{
    display: flex;
    flex-direction: row;
    font-size: 28px;
    margin: 20px 100px 20px 50px;
}
.than .than2 .dschon .dschon1{
    flex: 2;
    font-weight: bold;
}
.than .than2 .dschon .dschon2{
    flex: 3;
}
/*  */
.than .than2 .nut{
    display: flex;
}
.than .than2 .nut .nut1{
    flex: 1;
    font-size: 30px;
    background-color: palegreen;
    width: 300px;
    height: 50px;
    margin-right: 100px;
}
.than .than2 .nut .nut2{
    flex: 1;
    font-size: 30px;
    text-decoration: none;
    background-color: palegreen;    
    border: 2px solid black;
    width: 300px;
    height: 45px;
    margin-left: 100px;
}



